flask
flask-cors
gunicorn==22.0.0
requests
curl-cffi
openpyxl
pyperclip
selenium
webdriver-manager
pywin32
customtkinter
pandas
numpy
matplotlib
folium
tkcalendar
geocoder
gspread
google-auth
pygetwindow
